@model LectureRoomMgt.Models.Reservation.BlockVM
@using Kendo.Mvc.UI
<link href="~/custom/css/kendo.bootstrap-v4.min.css" rel="stylesheet" />
<link href="~/custom/css/kendo.bootstrap-main.css" rel="stylesheet" />
<script src="~/custom/js/kendo.all.min.js"></script>
<script src="~/custom/js/2023/kendo.cdn.telerik.com_2023.2.606_js_jquery.min.js"></script>
<script src="~/custom/js/2023/kendo.cdn.telerik.com_2023.2.606_js_kendo.all.min.js"></script>
<script src="~/custom/js/2023/kendo.cdn.telerik.com_2023.2.606_js_kendo.aspnetmvc.min.js"></script>
<script src="~/custom/js/kendo.aspnetmvc.min.js"></script>

@{
    ViewBag.Title = "Faculty-Blocks";
}
<style>
    .cards-container {
        display: flex;
        flex-wrap: wrap;
    }
    .k-card {
        width: 285px;
        margin: 2%;
    }
    .k-card-footer {
        text-align: center;
    }
</style>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Reserve Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>            
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-sm" id="btnEdit">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="example">
    <div class="cards-container ml-5">
        @foreach (var mainItem in (IEnumerable<LectureRoomMgt.Models.Reservation.Room>)ViewBag.rooms)
        {
            var modalName = "ImageGalleryModal" + @mainItem.Id;
            var defaultImg = mainItem.RoomImageDefaults.FirstOrDefault();
            var xy = "";
            if (defaultImg != null)
            {
                xy = "/RoomGallery/" + defaultImg.RoomId + "/" + defaultImg.ImageName;
            }
            else
            {
                xy = "/Resources/roomDefault.png";
            }
            <div class="k-card">
                <div class="k-card-header">
                    <h5 class="k-card-title">@mainItem.RoomName</h5>
                    <h6 class="k-card-subtitle">@mainItem.RoomType.Type</h6>
                    <div class="ml-3">
                        <p>
                            <ul>
                                <li>Grade    -  @mainItem.Grade</li>
                                <li>Capacity -  @mainItem.Capacity</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <img class="k-card-image" src="@xy" />
                <div class="ml-3">
                    @{ float cntToday = 0;
                        var cntWeek = 0.0;
                        var cntMonth = 0.0;
                        }                    
                    @foreach (var x in (IEnumerable<LectureRoomMgt.Models.Reservation.RoomReservation>)mainItem.RoomReservations)
                    {
                        if (x.Start.Date == System.DateTime.Now.Date)
                        {
                            float d = (x.End.Hour - x.Start.Hour) * 60 + (x.End.Minute - x.Start.Minute);
                            cntToday = cntToday + d / 60;
                        }
                    }
                    @{
                        cntToday = @cntToday / 9;
                        float c = cntToday * 100;
                        float f = (1 - cntToday) * 100;
                    }
                    <p>Booked: @c.ToString(".0")% &nbsp; &nbsp;<span style="background-color: lightgreen;">Free: @f.ToString(".0")%</span></p>
                </div>
                <div class="card-footer">                   
                    <table style="width:100%">
                        <tr>
                            <td><a href="@Url.Action("ReservationIndexLecturer","Reservation",new {facId = ViewBag.FacultyId, blockId = ViewBag.BlockId, floorId = ViewBag.FloorId, roomId = mainItem.Id })" class="btn btn-block btn-outline-success btnReserve">Reserve</a></td>
                            <td style="width:33%"><a href="@Url.Action("IndexRoomCurrentBookingDetails","Reservation", new { roomId = mainItem.Id})" class="btn btn-block btn-outline-info">Schedule</a></td>
                            @*<td style="width:33%"><a href="@Url.Action("RoomFeedBkIndex","RoomFeedback", new { roomId = mainItem.Id})" class="btn btn-block btn-outline-info">Feedback</a></td>*@
                            <td><a href="@Url.Action("IndexRoomDetails","Reservation", new { roomId = mainItem.Id})" class="btn btn-block btn-outline-info">More</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</div>