@model LectureRoomMgt.Models.Staff.Employee;
@inject IAuthorizationService authorization
@{
    ViewBag.Title = "Staff";
    ViewBag.View = "Staff";

    //var photoPath = "/Resources/DefaultUserBlack.png";

    //if (Model != null)
    //{
    //    if (Model.ProfileImgPath != null)
    //    {
    //        photoPath = "/Resources/Uploads/Employees/" + Model.ProfileImgPath;
    //    }
    //}

    var ModClaimCheck = (await authorization.AuthorizeAsync(User, "ModifyStaff")).Succeeded ? "true" : "false";
    var DelClaimCheck = (await authorization.AuthorizeAsync(User, "RemoveStaff")).Succeeded ? "true" : "false";
}

<style>
    div.scroll {
        overflow: auto;
    }

    .required::after {
        content: "*";
        font-weight: bold;
        color: red;
        margin-left: 1px;
    }
</style>


@Html.AntiForgeryToken()
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form id="saveForm">

                    <div class="form-row">
                        <div class="col-10 offset-1">
                            <div class="card card-dark card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">Office Details</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label asp-for="EmpId" class="control-label"></label>
                                            <input asp-for="EmpId" class="form-control" style="text-transform:uppercase" disabled />
                                            <span asp-validation-for="EmpId" class="text-danger"></span>
                                        </div>

                                        <div class="form-group  col-md-4">
                                            <label asp-for="JoinedDate" class="control-label required"></label>
                                            <input asp-for="JoinedDate" class="form-control" />
                                            <span asp-validation-for="JoinedDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group  col-md-4">
                                            <label asp-for="Designation" class="control-label required"></label>
                                            <select asp-for="Designation" asp-items="@ViewBag.Designation as SelectList" class="form-control">
                                                <option value="">Please select</option>
                                            </select>
                                            <span asp-validation-for="Designation" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card card-dark card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">Personal Details</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label asp-for="Title" class="control-label required"></label>
                                            <select asp-for="Title" asp-items="@ViewBag.Titles as SelectList" class="form-control">
                                                <option value="">Please select</option>
                                            </select>
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-9">
                                            <label asp-for="SName" class="control-label required"></label>
                                            <input asp-for="SName" class="form-control" />
                                            <span asp-validation-for="SName" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label asp-for="FName" class="control-label required"></label>
                                            <input asp-for="FName" class="form-control" />
                                            <span asp-validation-for="FName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group  col-md-3">
                                            <label asp-for="Dob" class="control-label required"></label>
                                            <input asp-for="Dob" class="form-control" />
                                            <span asp-validation-for="Dob" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label asp-for="Gender" class="control-label required"></label>
                                            <select asp-for="Gender" asp-items="@ViewBag.Gender as SelectList" class="form-control">
                                                <option value="">Please select</option>
                                            </select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-dark card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">Contact Details</h3>
                                </div>
                                <div class="card-body">

                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label asp-for="Mobile" class="control-label required"></label>
                                            <input asp-for="Mobile" class="form-control" />
                                            <span asp-validation-for="Mobile" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label asp-for="HomeTel" class="control-label"></label>
                                            <input asp-for="HomeTel" class="form-control" />
                                            <span asp-validation-for="HomeTel" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label asp-for="OfficeTel" class="control-label"></label>
                                            <input asp-for="OfficeTel" class="form-control" />
                                            <span asp-validation-for="OfficeTel" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label asp-for="Comment" class="control-label"></label>
                                            <input asp-for="Comment" class="form-control" />
                                            <span asp-validation-for="Comment" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        @*<div class="col-3">
                            <div class="card card-dark card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">Picture</h3>
                                </div>
                                <div class="img-thumbnail" id="imgPreview">

                                    <img class="img-thumbnail" style="border-radius:50%" id="targetImg" src="@photoPath" />

                                    <div class="caption">
                                        @if (Model != null)
                                        {
                                            if (Model.ProfileImgPath != null)
                                            {
                                                <a id="trashbtn"><i class="fas fa-trash-alt"></i></a>
                                                <span id="description" style="font-size:12px"></span>
                                            }
                                            else
                                            {
                                                <a id="trashbtn" style="display:none"><i class="fas fa-trash-alt"></i></a>
                                                <span id="description" style="font-size:12px"></span>
                                            }
                                        }
                                        else
                                        {
                                            <a id="trashbtn" style="display:none"><i class="fas fa-trash-alt"></i></a>
                                            <span id="description" style="font-size: 12px"></span>
                                        }
                                    </div>

                                </div>
                                <div class="btn-xs">
                                    <input asp-for="EmployeeImageFile" type="file" accept="image/x-png,image/jpeg">
                                </div>
                            </div>
                        </div>*@

                    </div>

                    <div class="card-footer" style="text-align:center">
                        <button id="btnSave" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Save !"><i class="fa fa-save"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hiddenId" />
<input type="hidden" id="hiddenImageDelete" />


<script src="~/Theme/plugins/moment/moment.min.js"></script>
<script>

    $(document).ready(function () {

        //$("#trashbtn").click(function (e) {
        //    e.preventDefault();

        //    $("#EmployeeImageFile").val('');
        //    $("#description").text('');
        //    $("#targetImg").attr('src', '/Resources/DefaultUserBlack.png');
        //    $("#trashbtn").hide();

        //    $("#hiddenImageDelete").val(true);
        //});


        //var imageChange = false;

        //$('#EmployeeImageFile').change(function () {

        //    var File = this.files;

        //    if ((File[0].type != "image/jpeg") && (File[0].type != "image/png")) {

        //       toastr.warning('Only JPEG & PNG files are allowed !');
        //       $("#EmployeeImageFile").val('');
        //       return false;
        //    }

        //    if (File && File[0]) {

        //        imageChange = true;
        //        ReadImage(File[0]);
        //    }
        //});

        //var ReadImage = function (file) {

        //    var reader = new FileReader;
        //    var image = new Image;

        //    reader.readAsDataURL(file);
        //    reader.onload = function (_file) {

        //        image.src = _file.target.result;
        //        image.onload = function () {

        //            var height = this.height;
        //            var width = this.width;
        //            var type = file.type;
        //            var sizetoKB = file.size / 1024;
        //            var size = ~~(file.size / 1024) + "KB";

        //            if (sizetoKB > 1024) {
        //                $("#upImage").val('');
        //                alert("Image should be less than 1MB");
        //                return false;
        //            }

        //            $("#targetImg").attr('src', _file.target.result);
        //            $("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
        //            $("#trashbtn").show();
        //        }
        //    }
        //}


        $("#btnSave").click(function (e) {
            e.preventDefault();

            if (!$('#saveForm').valid()) {
                return false;
            }

            var todayDate = new Date();
            var bdayDate  = new Date(Date.parse($("#Dob").val()));

            if ((todayDate.getFullYear() - bdayDate.getFullYear()) < 18) {
                toastr.error('Invalid date of birth !');
                return false;
            }


            //var file = $("#EmployeeImageFile").get(0).files;
            var employeeObj = new FormData;

            employeeObj.append("EmpId", $('#EmpId').val());
            employeeObj.append("FName", $('#FName').val());
            employeeObj.append("SName", $('#SName').val());
            employeeObj.append("JoinedDate", $('#JoinedDate').val());
            employeeObj.append("Email", $('#Email').val());
            employeeObj.append("Dob", $('#Dob').val());
            employeeObj.append("Mobile", $('#Mobile').val());
            employeeObj.append("HomeTel", $('#HomeTel').val());
            employeeObj.append("OfficeTel", $('#OfficeTel').val());
            employeeObj.append("Gender", $('#Gender :selected').val());
            employeeObj.append("Designation", $('#Designation :selected').val());
            employeeObj.append("Title", $('#Title :selected').val());
            employeeObj.append("Comment", $('#Comment').val());

            //employeeObj.append("IsImageDeleted", $("#hiddenImageDelete").val());
            //employeeObj.append("IsImageChange", imageChange);
            //employeeObj.append("EmployeeImageFile", file[0]);

            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Action("Create", "Staff")',
                data: employeeObj,
                contentType: false,
                processData: false,
                headers: { RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val() }
            }).done(function (response) {
                if (response.status == "1") {
                    toastr.success('Saved successfully !');
                }
                else if (response.status == "3") {
                    toastr.warning('Duplicate record exists !');
                }
                else {
                    toastr.error('An error has occured !');
                }
            }).fail(function (response) {
                toastr.error('An unknown error has occured, Please contact administrator !');
            });
        });
    });


</script>
